h1 {
  color: darkblue;
  font-family: arial;
  text-align: center;
}

h2 {
  color: darkblue;
  font-family: arial;
  text-align: center;
}

h2.looking {
  color: darkblue;
  font-family: arial;
  text-align: left;
}

h3 {
  color: darkblue;
  font-family: arial;
  text-align: center;
}

h4 {
  color: darkblue;
  font-family: arial;
}

ul {
  color: darkblue;
  font-style: none;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

p {
  color: darkblue;
  font-size: 20px;
  text-align: left;
  font-style: italic;
}

body {
  background-color: skyblue;
}
